Package: com.Leonnears.OpenDevSiLight
Name: SiLight
Depends: firmware (>= 5.0), gsc.assistant | com.chpwn.spire, me.k3a.ae
Version: 1.1.2-4
Architecture: iphoneos-arm
Description: Need a quick light? Ask Siri to give you a flash light! This small tweak will enable you to turn your phone's flash on and off to use it as a flashlight. Just issue commands like "Siri, there's a blackout" or "Siri, I need a flashlight". To turn off the flash, just say "Turn off the flashlight" or something like "Thanks for the light", or the simplest command of all, "Lights off".
Maintainer: Leonnears
Author: Leonnears
Section: Addons (AssistantExtensions)
Installed-Size: 28
